@model LiteCommerce.DomainModels.Product
@{
  ViewBag.Title = "Xác nhận xóa sản phẩm";
}
<div class="box box-primary">
  <!-- form start -->
  <form class="form-horizontal" method="post" action="~/Product/Delete/@Model.ProductID">
    <div class="box-body">
      <div class="media">
        <div class="media-body">
          <div class="form-group">
            @Html.HiddenFor(m => m.ProductID)
            <label class="control-label col-sm-2">Tên Sản Phẩm:</label>
            <div class="col-sm-4">
              <p class="form-control-static">@Model.ProductName</p>
            </div>
            <label class="control-label col-sm-2">Mã Nhà Cung Cấp:</label>
            <div class="col-sm-4">
              <p class="form-control-static">@Model.SupplierID</p>
            </div>
            <label class="control-label col-sm-2">Mã Mặt Hàng:</label>
            <div class="col-sm-10">
              <p class="form-control-static">@Model.CategoryID</p>
            </div>
            <label class="control-label col-sm-2">Đơn Vị Tính:</label>
            <div class="col-sm-10">
              <p class="form-control-static">@Model.Unit</p>
            </div>
            <label class="control-label col-sm-2">Giá Hàng:</label>
            <div class="col-sm-10">
              <p class="form-control-static">@Model.Price</p>
            </div>
          </div>
        </div>
        <div class="media-right">
          <label class="control-label col-sm-2">Ảnh</label>
          <img src="@Model.Photo" style="height:100px; width:90px;" alt="User Image">
        </div>
      </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <div class="row">
        <div class="col-lg-offset-2 col-sm-10">
          <p class="text-danger">Bạn có chắc muốn xóa sản phẩm này?</p>
        </div>
        <div class="col-lg-offset-2 col-sm-10">
          <button type="submit" class="btn btn-danger"><i class="fa fa-remove"></i> Đồng ý</button>
          <a href="~/Product/Index" class="btn btn-warning">Bỏ qua</a>
        </div>
      </div>
    </div>
  </form>
</div>


