@using CaptchaMvc.HtmlHelpers

@{
  ViewBag.Title = "Change Password";
}
<a class="btn btn-sm btn-info btn-ffa" href="javascript: history.go(-1)"><i class="fa fa-backward"></i>  Back</a>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form class="form-container" method="post" action="~/Account/ChangePassword" style="border:1px solid #008d4c;padding:20px 30px;font-family: Arial, sans-serif">
        <h3 class="text-center" style="margin-bottom:20px;font-weight:bold;">Change Password</h3>
        <input type="hidden" name="accountId" value="@ViewBag.accountId" />
        <div class="form-group" style="margin-bottom:5px">
          <label style="margin-bottom:5px">Old Password </label>
          <input type="password" class="form-control" name="oldpassword" placeholder="enter old password ..." value="@ViewBag.oldpassword">
          @Html.ValidationMessage("oldpassword", new { @style = "color:red; margin-left: 15px;" })
        </div>
        <div class="form-group" style="margin-bottom:5px">
          <label style="margin-bottom:5px">New Password </label>

          <input type="password" class="form-control" name="newpassword" placeholder="Enter new password ..." value="@ViewBag.newpassword">
          
          @Html.ValidationMessage("newpassword", new { @style = "color:red; margin-left: 15px;" })
        </div>
        <div class="form-group" style="margin-bottom:5px">
          <label style="margin-bottom:5px">Confirm Password </label>

          <input type="password" class="form-control" name="confirmpassword" placeholder="Confirm password ..." value="@ViewBag.confirmpassword">
          <div class="show-password fas fa-eye-slash"></div>
          @Html.ValidationMessage("confirmpassword", new { @style = "color:red; margin-left: 15px;" })
        </div>
        <div class="form-group" style="margin-bottom:5px">
          <label style="margin-bottom:5px">CaptCha </label>
          @Html.MathCaptcha()
          <p>@ViewBag.ErrorMessage</p>
        </div>
        <button type="submit" class="btn btn-success btn-block">Confirm</button>
      </form>
      @section Showpass{
        <script>
          var fields = document.querySelectorAll(".form-group input");
          var btn = document.querySelector(".btn");
          function check() {
            if (fields[0].value != "" && fields[1].value != "")
              btn.disabled = false;
            else
              btn.disabled = true;
          }

          fields[0].addEventListener("keyup", check);
          fields[1].addEventListener("keyup", check);

          document.querySelector(".show-password").addEventListener("click", function () {
            if (this.classList[2] == "fa-eye-slash") {
              this.classList.remove("fa-eye-slash");
              this.classList.add("fa-eye");
              fields[0].type = "text";
              fields[1].type = "text";
              fields[2].type = "text";
            } else {
              this.classList.remove("fa-eye");
              this.classList.add("fa-eye-slash");
              fields[0].type = "password";
              fields[1].type = "password";
              fields[2].type = "password";
            }
          });
        </script>
      }
    </div>
  </div>
</div>
