@model LiteCommerce.DomainModels.Account
@{
  ViewBag.Title = "Account Profile";
}
<a class="btn btn-sm btn-info btn-ffa" href="javascript: history.go(-1)"><i class="fa fa-backward"></i>  Back</a>
<div class="box box-primary">
  <div class="box-body">
    <form role="form" action="~/Account/Index" method="post">
      <!-- Name -->
      <div class="box box-solid">
        <div class="box-body" style="padding:5px 30px">
          <input type="hidden" name="oldUserID" value="@Model.UserName">
          <div class="form-group row">
            <div class="col-sm-6">
              <label>Full Name</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-bookmark-o"></i>
                </div>
                <input type="text" name="FullName" class="form-control pull-right" placeholder="Enter ..." value="@Model.FullName">
              </div>
            </div>
            <div class="col-sm-6">
              <label>UserID</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-envelope"></i>
                </div>
                <input type="text" name="UserID" class="form-control pull-right" placeholder="Enter ..." value="@Model.UserName">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box box-solid">
        <div class="box-body" style="padding:5px 30px">
          <div class="form-group row" style="height:250px">
            <div class="col-sm-6">
              <div style="display:block;">
                <label for="exampleInputFile">Photo</label>
                <div class="input-group">
                  <div style="height:180px;width:220px;padding:0 50px">
                    <img id="pictureUpload" src="@Model.Photo" alt="avatar" style="height:230px;width:180px;" />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <label>Password</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-stack-overflow"></i>
                </div>
                <input type="password" name="Password" class="form-control pull-right" placeholder="Enter ..." value="@Model.Password">

              </div>
              <a href="~/Account/ChangePassword?accountId=@Model.Email">Change Password</a>
            </div>

          </div>
        </div>
      </div>
      <!-- Contact info -->
    </form>
  </div>
</div>

