@model LiteCommerce.Admin.Models.EmployeePaginationQueryResult
@{Layout = null;}



<div class="text-left">
  <p>Có tất cả <strong>@Model.RowCount</strong> nhân viên, bạn đang ở trang <strong>@Model.Page</strong> trên tổng số <strong>@Model.PageCount</strong> trang</p>
</div>
<table class="table table-hover table-bordered">
  <thead>
    <tr class="success">
      <th>Họ </th>
      <th>Tên</th>
      <th>Ngày sinh</th>
      <th>Ảnh</th>
      <th>Email</th>
      <th>Ghi chú</th>

      <th class="text-right">
        <a href="~/Employees/Add" class="btn btn-sm btn-info">
          <i class="fa fa-plus"></i> Thêm mới
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model.Data)
    {
      <tr>
        <td>@item.FirstName</td>
        <td>@item.LastName</td>
        <td>@item.BirthDate</td>
        <td><img @*src="~/Themes/dist/img/user2-160x160.jpg"*@ src="@item.Photo" style="height:80px; width:70px;" alt="User Image"></td>

        <td>@item.Email</td>

        <td>
          @item.Notes
        </td>
        <td class="text-right">
          <a href="~/Employees/Edit/@item.EmployeeID" class="btn btn-sm btn-success">
            <i class="fa fa-edit"></i>
          </a>
          <a href="~/Employees/Delete/@item.EmployeeID" class="btn btn-sm btn-danger">
            <i class="fa fa-remove"></i>
          </a>
        </td>
      </tr>
    }
  </tbody>
</table>

<div class="text-center">
  <ul class="pagination">
    @for (int page = 1; page <= Model.PageCount; page++)
    {
      if (page == Model.Page)
      {
<li class="active"><a href="javascript:;">@page</a></li>
 }
else
{
<li><a href="javascript:;" onclick="getEmployees(@page)">@page</a></li>
}
}
  </ul>
</div>
